<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Stratergy</title>

    <script type="text/javascript">

  function updateprice(){
  $('#myTable').find('tr').each(function (id) {

   if(id >0) {
   var symbol=$("#si_"+id).val()
   var activity=$("#at_"+id).text().trim()
   updateQuote(symbol,activity,id)
   }

 });
  }
$(document).ready(function(){

$("#refreshbutton").click(function(){
 updateprice();
});

$('select').change(function(){
   var id = $(this).attr("id").split("_")[1]
   var symbol=$(this).val()
   var activity=$("#at_"+id).text().trim()
   updateQuote(symbol,activity,id)

});


$('.status').click(function(){
var id = $(this).attr("id").split("_")[1]
$("#modifymenu_"+id).toggle()
});

//update the price on load
updateprice();

});


function updateQuote(symbol,activity,id){
$.ajax({ type: "GET",
         url: "/getquote?symbol="+symbol+"&activity="+activity,
         async: true,
         success : function(text)
         {
         $("#lt_"+id).html(text['ltp'])
         $("#bp_"+id).html(text['bestprice'].toFixed(2))
         $("#sp_"+id).html(text['strike'])
         }

});

}

function orderupdate(){

$('#myTable').find('tr').each(function (id) {
var sid=$("#stratergyid").val()
   if(id >0) {
   var orderid=$("#oid_"+id).val().trim()
         if(orderid!=""){
          getorderstatus(orderid,id)
         }
   }
  });
}

//window.setInterval('orderupdate()', 5000);





function getorderstatus(orderid,id){
var status=""
$.ajax({ type: "GET",
         url: "/getorderstaus?ordernumber="+orderid,
         async: true,
         success : function(text)
         {
           status=text["orderStatus"]
           $("#ts_"+id).val(status)
         }
});

return status
}

function placeOrder(id,orders){
$.ajax({ type: "POST",
         url: "/placeOrder",
         data:{"id":id,"orders":JSON.stringify(orders)},
         dataType: "json",
         success : function(text)
         {
         var status=getorderstatus(text["executiondetails"])

         }
});
}

function execute() {
  var orders=[]
$('#myTable').find('tr').each(function (id) {
   if(id >0) {
   var symbol=$("#si_"+id).val()
   var activity=$("#at_"+id).val().trim()
   var bprice=$("#si_"+id).val()
   orders.push({"symbol":symbol,"activity":activity,"oid":id,"bprice":bprice})
   }
  });
  var id=$("#stratergyid").val()
  placeOrder(id,orders)

}

function modifyOrder(id){
alert(id);
}

</script>
</head>
<body>
{% extends "template.html" %}
 {% block content %}
<div class="wrap">
    <div>
  <h1>OPTION Stratergy</h1>
</div>
    <div>
          <h1>{{ spreadname }}</h1>

        <div id="refresh">
            <button  id="refreshbutton" > Refresh </button>
        </div>

    </div>
    <div class="box">
<table  id="myTable" cellspacing="0">
        <thead>
        <tr>
            <th>tradingSymbol</th>
            <th>Activity</th>
            <th>strikePrice</th>
            <th>optionType</th>
            <th>LTP</th>
            <th>Bestprice</th>
            <th>Tradedprice</th>
            <th>TotalValue</th>
            <th>orderstatus</th>

        </tr>
        </thead>
        <tbody id="mydata">
          {%for data in trade%}
                <tr class="{{ data.activity }}">
                    <td id="tsym_{{ loop.index }}">
                        <select id="si_{{ loop.index }}" name="symbol">
                             {%for symbol in data.symbols%}
                                               {% if  symbol==data.symbol  %}
                                 <option value="{{ symbol }}" selected>{{symbol}}</option>
                                            {% else  %}
            <option value="{{ symbol }}" >{{symbol}}</option>

{% endif  %}
                            {%endfor%}
                          </select>
                               </td>
                   <td id="at_{{ loop.index }}"> {{data.activity}}</td>
                    <td id="sp_{{ loop.index }}"> {{data.strike}}</td>
                    <td> {{data.type}}</td>
                    <td id="lt_{{ loop.index }}"> </td>
                    <td id="bp_{{ loop.index }}"> </td>
                    <td id="tp_{{ loop.index }}"> </td>
                    <td id="tv_{{ loop.index }}"> </td>
                    <td id="ts_{{ loop.index }}" class="status">
                        <div id="tsi_{{ loop.index }}">pending</div>
                         <div id="modifymenu_{{ loop.index }}" class="modifymenu">
                             <input type="button" value="Modify" onclick="modifyOrder( {{ loop.index }} )"/>
                         </div>
                    </td>

                </tr>
           <input id="oid_{{ loop.index }}" type="hidden" value="" />
           {%endfor%}
        </tbody>
</table>
        </div>
    <div class="box">
        <div id="ml"> MaxLoss : <span id="maxloss"></span> -00</div>
            <div id="mg">MaxGain : <span id="maxgain"> </span>00</div>
        </div>
   <input type="button" value="Execute" onclick="execute()"/>
   <input id="stratergyid" type="hidden" value="{{ id }}" />

    </div>

</div>
 {% endblock %}
</body>
</html>