<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>OptionTrading</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
       <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
   </head>
   <body>
      <header>
         <div class="container">
            <h1 class="logo">NSE Option Trading Website</h1>
            <strong>
               <nav>

                   <div class="dropdown">
  <div class="dropbtn">Menu</div>
  <div class="dropdown-content">
    <a href="{{ url_for('optionview') }}">Link 1</a>
    <a href="{{ url_for('optionview') }}">Link 2</a>
    <a href="{{ url_for('home') }}">Link 3</a>
  </div>
</div>
               </nav>
            </strong>
         </div>
      </header>
      {% block content %}
      {% endblock %}
   </body>
</html>